/* index.styl */
body,
p[style],
font[face] {
  font-family: "PingFang SC", "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.windows body,
.windows p[style],
.windows font[face],
.windows body a,
.windows p[style] a,
.windows font[face] a {
/*font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;*/
  font-family: Microsoft YaHei, Microsoft YaHei Lights, Arial;
/*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
}
.hide {
  display: none;
}
.hide-must {
  display: none !important;
}
.bg-white,
body {
  background-color: #fff;
}
body {
  position: relative;
}
html,
body,
ul,
li,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-weight: normal;
}
ul,
li {
  list-style: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-size: 14px;
}
a {
  color: #333;
  text-decoration: none;
  outline: 0;
}
a:hover {
  color: #ffa500 !important;
}
.jp-playBtn {
  position: fixed;
  z-index: 10;
  width: 7vw;
  height: 7vw;
  top: 10px;
  right: 10px;
  overflow: hidden;
  outline: 0;
}
.jp-playBtn .icon-music {
  position: absolute;
  z-index: 10;
  width: 7vw;
  height: 7vw;
  top: 0;
  left: 0;
  border: none;
  outline: 0;
  background-image: url("bgm.png");
  background-repeat: no-repeat;
  background-size: 7vw 7vw;
  background-position: center center;
  text-indent: -888px;
}
.jp-state-playing .jp-playBtn .icon-music {
  animation: rock 1s linear infinite;
}
@-moz-keyframes rock {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes rock {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes rock {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rock {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
.cover {
  background-color: #dcf9df;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("bg.png");
  height: 700px;
  position: relative;
}
.topLogo {
  z-index: 2;
  width: 100%;
  height: 170px;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("topLogo.png");
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.middleBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 367px;
  height: 380px;
}
.roundTxt {
  position: absolute;
  width: 100%;
  height: 380px;
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: auto 380px;
  background-image: url("roundTxt.png");
  animation: aniRoundTxt 20s infinite linear;
}
.cloud {
  position: absolute;
  width: 100%;
  height: 380px;
  background-position: 55px 90px;
  background-repeat: no-repeat;
  background-size: 220px auto;
  background-image: url("cloud.png");
  z-index: 4;
}
.earth {
  position: absolute;
  width: 100%;
  height: 380px;
  background-position: center 55px;
  background-repeat: no-repeat;
  background-size: auto 270px;
  background-image: url("earth.png");
  animation: aniEarth 30s infinite linear;
}
.hand1 {
  position: absolute;
  width: 100%;
  height: 380px;
  background-repeat: no-repeat;
  background-position: 28px 130px;
  background-size: 240px auto;
  background-image: url("hand1.png");
  z-index: 3;
}
.hand2 {
  position: absolute;
  width: 100%;
  height: 380px;
  background-position: 219px 90px;
  background-repeat: no-repeat;
  background-size: 130px auto;
  background-image: url("hand2.png");
  z-index: 3;
}
@-moz-keyframes aniRoundTxt {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes aniRoundTxt {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes aniRoundTxt {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes aniRoundTxt {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes aniEarth {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes aniEarth {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes aniEarth {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes aniEarth {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
body {
  background-color: #fcc128;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
canvas {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  display: block;
}
.box {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
.tip1 {
  height: 265px;
  position: relative;
}
.bgPos1.addBg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("clean/high5_02.jpg");
}
.bgPos2.addBg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("clean/high5_03.jpg");
}
.bgPos3.addBg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("clean/high5_04.jpg");
}
.bgPos4.addBg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("clean/high5_05.jpg");
}
.tip2 {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("tip2.png");
  height: 680px;
}
.tip2 img {
  opacity: 0;
}
.bgPos {
  position: relative;
}
.bgPos canvas {
  position: relative;
  z-index: 2;
}
.is-ca {
  position: static;
}
.handBox {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.hand3 {
  position: absolute;
  width: 300px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 180px auto;
  background-image: url("hand3.png");
  z-index: 3;
  transform: translate(-50%, -50%) rotate(90deg);
  pointer-events: none;
  top: 50%;
  left: 50%;
}
.is-pc.isMdBox body {
  position: relative;
  background: #ffa500;
  width: 100%;
  height: 100%;
}
.is-pc.isMdBox .box {
  display: none;
}
.is-pc.isMdBox .iframeMdBox {
  outline: none;
  border: none;
  width: 400px;
  height: 711.4666666666667px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-image: url("tip2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 6px;
  overflow: hidden;
}
.is-pc.isMdBox .footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  line-height: 24px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding-bottom: 20px;
  z-index: 1;
}
.is-pc.isMdBox .footer a {
  color: #fff !important;
}
.is-mobile .iframeMdBox,
.is-mobile .footer {
  display: none;
}
