
.cover
    background-color: #dcf9df
    background-position: center 0
    background-repeat: no-repeat
    background-size: cover
    background-image: url(bg.png)
    height: 700px
    position relative

.topLogo
    z-index: 2
    width: 60%
    height: 200px
    background-position: center center
    background-repeat: no-repeat
    background-size: 100% auto
    background-image: url(topLogo.png)
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    // border: red 1px solid

.coverTitle
    position: absolute
    top: 10vh
    left: 50%
    transform: translateX(-50%)
    width: 80vw
    height: 80vh
    // border: red 1px solid 
    background-position: center center
    background-repeat: no-repeat
    background-image: url(coverTitle.png)
    background-size: contain
    overflow: hidden
    text-indent: -8888px
    opacity: 0