/* index.styl */
// @import './configs'
@import './fonts'
@import './base'
@import './bgm'
@import './cover'



body 
    background-color: #fcc128
    background-position: center 0
    background-repeat: no-repeat
    background-size: cover
    // background-image: url(itemBg.png)


canvas
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    display: block;


// .fool
//     display: block
//     position: absolute
//     bottom: 15px
//     right: 30px
//     background-position: center 0
//     background-repeat: no-repeat
//     background-size: auto 100%
//     background-image: url(fool.png)
//     width: 40px
//     height: 50px
//     z-index: 10
//     // border: 1px solid #FFF
//     animation: foolfool 2s infinite
//     opacity: 0.6

// @keyframes foolfool
//     0%
//         transform: translateX(0)
//     50%
//         transform: translateX(20px) 
//     100%
//         transform: translateX(0)

// .loading
//     position: absolute
//     left: 50%
//     top: 50%
//     transform: translate(-50%, -50%)
//     color: #FFF
//     font-size: 22px
//     text-align: center

.box
    width: 100vw
    min-height: 100vh
    overflow: hidden

.tip1
    // background-position: center 0
    // background-repeat: no-repeat
    // background-size: 100% auto
    // background-image: url(tip1.jpg)
    min-height: 265px
    position relative
    // border: 1px red solid

.bgPos1.addBg
    background-position: center center
    background-repeat: no-repeat
    background-size: auto 100%
    background-image: url(clean/high5_02.jpg)
.bgPos2.addBg
    background-position: center center
    background-repeat: no-repeat
    background-size: auto 100%
    background-image: url(clean/high5_03.jpg)
.bgPos3.addBg
    background-position: center center
    background-repeat: no-repeat
    background-size: auto 100%
    background-image: url(clean/high5_04.jpg)
.bgPos4.addBg
    background-position: center center
    background-repeat: no-repeat
    background-size: auto 100%
    background-image: url(clean/high5_05.jpg)


.tip2
    background-position: center 0
    background-repeat: no-repeat
    background-size: 100% auto
    background-image: url(tip2.png)
    // background-color: #fff
    min-height: 680px
    // border: 1px red solid

    img
        opacity 0
        width 100%
        height: auto

.bgPos
    position relative
    canvas
        position relative
        z-index 2

.is-ca
    position: static

.handBox
    pointer-events: none
    width 100%
    height: 100%
    position absolute
    top 0
    left 0
    z-index 4

.hand3
    position: absolute
    width: 300px
    height: 300px
    background-position: center center
    background-repeat: no-repeat
    background-size: 180px auto
    background-image: url(hand3.png)
    z-index 3
    transform: translate(-50%, -50%) rotate(90deg) 
    // border: red 1px solid
    pointer-events: none
    top: 50%
    left: 50%

@import './is-pc_isMdBox'


